{% extends "base.html" %}

{% block content %}
<div class="container text-center">
    <div class="row mb-3 justify-content-center">
        <div class="col-4">
            <h3>
                <span>
                <a class="btn btn-outline-light" href="https://twitter.com/messages/compose?recipient_id=1538028984" role="button">Message</a> on Twitter
                </span>
            </h3>
        </div>
        <div class="col-4">
            <h3>
                prilo#2061 on Discord
            </h3>
        </div>
    </div>
</div>

<div class="row">
{% for controller in controllers %}
    <div class="col-sm-6 col-md-4">
        <div class="card mb-4 text-bg-dark">
            <a href="{{controller.pk}}" style="text-decoration: none;">
              {% if controller.store_image.image.url %}
                <img src="{{ controller.store_image.image.url }}" class="card-img-top" alt="Store Image">
              {% else %}
                <b>NO IMAGE FOUND</b>
              {% endif %}
            </a>
            <div class="card body text-bg-dark">
                {% if controller.stock > 0 %}
                <a href="{{controller.pk}}" style="text-decoration: none;">
                    <h5 class="card-title mt-2 mx-2 text-bg-dark">{{controller.name}} <span class="badge ml-2 text-bg-light">~${{controller.total_price}}</span></h5>
                </a>
                <p class="card-text mx-2"><small class="text-white-50">Stock: {{controller.stock}}</small></p>
                {% else %}
                <h5 class="card-title mt-2 text-bg-dark">{{controller.name}} <span class="badge ml-2 text-bg-light">SOLD OUT</span></h5>
                {% endif %}
                {% if controller.description %}
                <p class="card-text mx-2">{{controller.description}}</p>
                {% endif %}
                <div class="accordion accordion-flush text-bg-dark" id="storeAccordion{{forloop.counter}}" style="--bs-accordion-bg:none;">
                    {% for mod in controller.mods.all %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{forloop.parentloop.counter}}-{{forloop.counter}}">
                            <button class="accordion-button collapsed text-bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.parentloop.counter}}-{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.parentloop.counter}}-{{forloop.counter}}">
                                {{mod.name}}
                            </button>
                        </h2>
                        <div id="collapse{{forloop.parentloop.counter}}-{{forloop.counter}}" class="accordion-collapse collapse text-bg-dark" aria-labelledby="heading{{forloop.parentloop.counter}}-{{forloop.counter}}" data-bs-parent="#storeAccordion{{forloop.parentloop.counter}}">
                            {% if mod.description %}
                            <div class="accordion-body">
                                {{mod.description}}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
