<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>
        {% block title %}Prilo's Controllers{% endblock %}
    </title>
</head>

<section class="mb-3">
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">LT</a>
            <div class="navbar-text d-sm-none float-end">
                Prilo's Controllers
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/store">Store</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mods
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/mods">Mods Home</a></li>
                            {% for mod in nav_mods %}
                            <li><a class="dropdown-item" href="/mods/{{mod.slug}}">{{mod.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role"button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-fill"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/accounts/profile">Profile</a>
                                <a class="dropdown-item" href="/accounts/logout">Log out</a>
                            </li>
                        </ul>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts/login">
                            <i class="bi bi-person"></i>
                        </a>
                    {% endif %}
                    </li>
                </ul>
                <!--
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                -->
            </div>
            <div class="navbar-text d-none d-sm-block float-end">
                Prilo's Controllers
            </div>
        </div>
    </nav>
</section>
<body class="bg-dark text-light">
    <div class="mb-4">{% block homeCarousel %}{% endblock %}</div>
    <div class="container">{% block content %}{% endblock %}</div>
</body>

</html>

<script>
</script>
